.intro-message {
	text-align: center;
	vertical-align: bottom;
	padding-top: 20%;
	padding-bottom: 20%;
	color: #000000;
}

body {
	background:url(Soundwave.jpg) no-repeat center;
}

.signup-form {
	color:#000000;
}